@font-face {
    font-family: antdesign;
    src: url(https://cdn.evlop.com/styles/vector-icons/163adab9dbd7cb1ed12a.ttf) format('truetype')
}

@font-face {
    font-family: fontawesome;
    src: url(https://cdn.evlop.com/styles/vector-icons/1e59d2330b4c6deb84b3.ttf) format('truetype')
}

@font-face {
    font-family: fontisto;
    src: url(https://cdn.evlop.com/styles/vector-icons/c0edd68811e0237502fe.ttf) format('truetype')
}

@font-face {
    font-family: materialicons;
    src: url(https://cdn.evlop.com/styles/vector-icons/120b4c7bbd155bd0a04d.ttf) format('truetype')
}

@font-face {
    font-family: entypo;
    src: url(https://cdn.evlop.com/styles/vector-icons/fc6169344c041cffcdae.ttf) format('truetype')
}

@font-face {
    font-family: fontawesome5_brands;
    src: url(https://cdn.evlop.com/styles/vector-icons/9e138496e8f1719c6ebf.ttf) format('truetype')
}

@font-face {
    font-family: foundation;
    src: url(https://cdn.evlop.com/styles/vector-icons/c0cbb004854f9c746f89.ttf) format('truetype')
}

@font-face {
    font-family: octicons;
    src: url(https://cdn.evlop.com/styles/vector-icons/6b742a230954dc640ba2.ttf) format('truetype')
}

@font-face {
    font-family: evilicons;
    src: url(https://cdn.evlop.com/styles/vector-icons/699664b33ac2837d5bee.ttf) format('truetype')
}

@font-face {
    font-family: fontawesome5_regular;
    src: url(https://cdn.evlop.com/styles/vector-icons/1017bce89c72f95bcf8e.ttf) format('truetype')
}

@font-face {
    font-family: ionicons;
    src: url(https://cdn.evlop.com/styles/vector-icons/3517aeaa34b2f8cd8eef.ttf) format('truetype')
}

@font-face {
    font-family: simplelineicons;
    src: url(https://cdn.evlop.com/styles/vector-icons/3ec13a24af3fdda11107.ttf) format('truetype')
}

@font-face {
    font-family: feather;
    src: url(https://cdn.evlop.com/styles/vector-icons/0f5d9cede2e831f3fc80.ttf) format('truetype')
}

@font-face {
    font-family: fontawesome5_solid;
    src: url(https://cdn.evlop.com/styles/vector-icons/07c3313b24f7b1ca85ee.ttf) format('truetype')
}

@font-face {
    font-family: materialcommunityicons;
    src: url(https://cdn.evlop.com/styles/vector-icons/5d42b4e60858731e7b65.ttf) format('truetype')
}

@font-face {
    font-family: zocial;
    src: url(https://cdn.evlop.com/styles/vector-icons/07fea2ac49bcc67d9a6b.ttf) format('truetype')
}